@font-face {
    font-family: charter;
    src: url(../fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url(../fonts/charter-italic.otf);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold.otf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: bold;
}
:root{
    font-size: 18px;

    --gray01: #212121;
    --gray02: #616161;
    --yellow: #FEC62E;



}


body {
    color: var(--gray01);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* font-family: charter; */


}

header  {
    color: var(--gray02);
}


header a {
    color: var(--gray02);
    text-decoration: none;
    
}

nav details summary {
    color: var(--gray01);
    font-weight: bold;
}

header a:hover {
    color: var(--gray01);
    /* font-weight: bold; */

}

hr {
    margin: 64px 0px;
    border-color: var(--yellow);
}

h1 {
    font-size: 60px;
    text-decoration: underline var(--yellow);
    /* font-size: 3.75em; es igual a los 60px de arriba */
    margin: 64px 10px 16px 20px;
    /* border-bottom: solid var(--yellow); */

}

h2{
    margin: 40px 0px 40px;
    font-size: 2em;
    font-weight: normal;
    text-decoration: underline var(--yellow) 4px;

}

h3{
    margin: 16px 0px 24px 0px;
    font-size: 24px;
    font-weight: normal;
    text-decoration: underline var(--yellow) 4px;
    /* counter-increment: titleList; */
    /* font-size: 1.5em; que es igual al 24px de mas ariba  */
}

head{
    font-size: 14px;
}

pre {
    background: var(--yellow);
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}


.hero {
    background-image: linear-gradient(to top, rgba(230, 230, 225, 0.3) , transparent ), url(../images/patron-1.png);
    height: 200px;
}

::selection{
    background: var(--yellow);
}

.section-content img {
    margin-top: 40px;
}

.section-content ol li{
    line-height: 24px;
}

.section-content {
    margin-top: 164px;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content ul li {
    margin-bottom: 16px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    border-left: 4px solid var(--yellow);
    padding-left: 16px ;
    line-height: 24px;
    
}

blockquote span {
    color: var(--gray02);
}

.main{
    /* border: 1px solid red; */
    /* background: purple; */

}

.wrapper{
    width: 902px;
    margin: auto;
    /* background: green; */
    /* padding: 10px; */
}

.main-content {
    /* padding: 10px; */
    /* background: #FEC62E; */
}


.section-content + hr{
    display: none;
}

.section-content {
    counter-reset: titleList;
}


.section-content h3{
    counter-increment: titleList ;
}

.section-content h3::before {
    content: counter(titleList, upper-roman) ". ";
    /* color: rgba(236, 131, 12, 0.486); */
}


