
:root{
    --gray01: #212121;

}

html {
    /* para los parafos(ia es por default) */
    font-size: 16px; 
}

body {
    color: var(--gray01);
}

h1 {
    font-size: 60px;
    /* font-size: 3.75em; es igual a los 60px de arriba */
}

h2{
    font-size: 2em;
}

h3{
    font-size: 24px;
    /* font-size: 1.5em; que es igual al 24px de mas ariba  */
}



head{
    font-size: 14px;
}