@font-face {
    font-family: charter;
    src: url(../fonts/charter-regular.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url(../fonts/charter-italic.otf);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold.otf);
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: charter;
    src: url(../fonts/charter-bold-italic.otf);
    font-style: italic;
    font-weight: bold;
}
:root{
    font-size: 18px;

    --gray01: #212121;
    --gray02: #616161;
    --yellow: #FEC62E;



}

html {
    scroll-behavior: smooth;
}


body {
    color: var(--gray01);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* font-family: charter; */


}

header  {
    /* border: 1px solid firebrick; */
    font-size: 14px;
    color: var(--gray02);
    /* border: 1px solid red; */
    position: absolute;
    width: 288px;
    top: 274px;
    left: 920px;
    line-height: 24px;
    /* border: 2px solid aqua; */

}


header a {
    color: var(--gray02);
    text-decoration: none;
    /* border: 1px solid salmon; */
    /* padding-inline-end: 100px; */
 
}

header li {
    padding-inline-end: 100px;
    /* border: 1px  solid saddlebrown; */
}

header li:hover{
    padding-inline-end: 80px;
    background-color: #212121;

}

nav details summary {
    color: var(--gray01);
    font-weight: bold;
    line-height: 24px;
    
}

header a:hover {
    background-color: var(--gray01);
    color: aliceblue;
    font-weight: bold;

}

hr {
    margin: 64px 0px;
    border-color: var(--yellow);
}

h1 {
    font-size: 55px;
    text-decoration: underline var(--yellow);
    /* font-size: 3.75em; es igual a los 60px de arriba */
    margin: 64px 10px 16px 20px;
    font-weight: normal;
    /* border-bottom: solid var(--yellow); */

}

h2{
    margin: 40px 0px 40px;
    font-size: 2em;
    font-weight: normal;
    text-decoration: underline var(--yellow) 4px;

}

h3{
    margin: 16px 0px 24px 0px;
    font-size: 24px;
    font-weight: normal;
    /* text-decoration: underline var(--yellow) 4px; */
    position: relative;
    top: 0;
    /* background: white; */
    /* counter-increment: titleList; */
    /* font-size: 1.5em; que es igual al 24px de mas ariba  */
}

head{
    font-size: 14px;
}

pre {
    background: var(--yellow);
    padding: 40px;
    font-family: 'Roboto';
    line-height: 24px;
}



.hero {
    background-image: linear-gradient(to top, rgba(142, 45, 226, 0.5) , rgba(74, 0, 224, 0.6) ), url(../images/patron-2.png);
    height: 350px;
}

::selection{
    background: var(--yellow);
}

.section-content img {
    margin-top: 40px;
    max-width: 100%;
}

.section-content ol li{
    line-height: 24px;
}

.section-content {
    margin-top: 64px;
}

.section-content:first-of-type {
    margin: 0;
}

.section-content ul li {
    margin-bottom: 16px;
}

blockquote {
    font-size: 24px;
    margin: 32px 0;
    border-left: 4px solid var(--yellow);
    padding-left: 16px ;
    line-height: 24px;
    
}

blockquote span {
    color: var(--gray02);
}

.header {
    position: sticky;
    top: 0;
}

.header-content {
    position: relative;

}

.main{
    /* border: 1px solid red; */
    /* background: purple; */

}

.wrapper{
    width: 902px;
    margin: auto;
    /* background: green; */
    /* padding: 10px; */
}

.main-content {
    /* background: var(--gray02); */
    /* padding: 10px; */
    /* background: #FEC62E; */
}


.section-content + hr{
    display: none;
}

.section-content {
    counter-reset: titleList;
}


.section-content h3{
    counter-increment: titleList ;
    padding-bottom: 2px;
}

.section-content h3::before {
    content: counter(titleList, upper-roman) ". ";
    /* color: rgba(236, 131, 12, 0.486); */
}

.section-content h3::after {
    content: '';
    width: 20px;
    height: 4px;
    background: var(--yellow);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    /* border: solid 2px firebrick; */

}

.aside {
    position: sticky;
    inset-block-start: 15px;
}

.aside-content{
    position: relative;
    inset-block-start: 64px;
    /* border: 2px solid aqua; */
    /* width: 300px; */

}

/* .aside-wrapper{
    width: 100%;
    margin: auto;
    background: green;
    
} */

aside {
    font-size: 14px;
    color: var(--gray02);
    /* border: 1px solid red; */
    position: absolute;
    width: 288px;
    top: 64px;
    left: 920px;
    line-height: 24px;
    /* border: 2px solid rgb(255, 0, 0); */

}


aside a{
    /* background: var(--turquoise); */
    /* border: 1px solid cadetblue; */
    padding-inline-end: 100px;
    color: var(--gray01);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;

}


.main{
    /* border: solid salmon 2px; */
}

.wrapper{
    max-inline-size: 902px;
    margin: auto;

}

.main-content{
    padding-inline: 16px;
    padding-block-start: 50px;

}

.slider {
    /* border: 1px solid red; */
}

.slider-container {
    display: block;
    /* block-size: 100px; */
    overflow: auto;
    /* scroll-behavior: smooth; */
    font-size: 0;
    white-space: nowrap;
    /* border: 1px solid purple; */
}

.video {
    margin: 0;
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.slider-bullet-list {
    text-align: center;
    margin: 10px;
    /* font-size: 50px; */
}


.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    border-radius: 50%;
    background: var(--yellow);
}

.form input {
    inline-size: 100%;
    border: 1px solid var(--gray01);
    background: var(--gray02);
    box-sizing: border-box;
    padding-inline: 16px;
    padding-block: 12px;
    border-radius: 8px;
    color: var(--yellow);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;

}

.form input[type="submit"] {
    background: var(--gray01);
    border: none;

}

.from input::-webkit-input-placeholder {
    color: var(--yellow);
}


.current{
    background-color: var(--gray01);
    color: aliceblue;
    font-weight: bold;
}

nav.project-nav ol { 
    list-style-type: none;
    text-align: left;
}

nav.project-nav summary {
    text-align: center;
    font-weight: bold;
}


